# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store
package-lock.json
/out

.idea/
.vscode/
.claude/
Thumbs.db
*.log
.DS_Store
.LSOverride
._*
.Spotlight-V100
.Trashes
.directory
.Trash-*
*~
